@page
@using Cyberjuice.Permissions
@using Cyberjuice.Web.Pages.Employees
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Cyberjuice.Localization
@inject IHtmlLocalizer<CyberjuiceResource> L
@inject IAuthorizationService AuthorizationService
@model IndexModel
@{
    ViewData["Title"] = "Employees";
}

@section scripts {
    <abp-script src="/Pages/Employees/Index.js" />
}

<abp-card>
    <abp-card-header class="d-flex justify-content-between align-items-center">
        <h2 class="m-0">@L["Employees"]</h2> &nbsp;
        @if (await AuthorizationService.IsGrantedAsync(CyberjuicePermissions.Employees.Create))
        {
            <button id="NewEmployeeButton" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                <span class="label">@L["NewEmployee"]</span>
            </button>
        }
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="EmployeesTable"></abp-table>
    </abp-card-body>
</abp-card>
 